<div id="content">
    <!-- Top content -->
    <div class="top-content">

        <div class="inner-bg">
            <div class="container">

                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <div class="logo wow fadeInDown">
                            <a href="pdf/cv.pdf" target="_blank">
                                <img src="assets/img/picture-of-me.jpg" class="main-photo" alt="me">
                            </a>
                        </div>
                        <h1 class="wow fadeInLeftBig">Antoine Bernay</h1>
                        <div class="description wow fadeInLeftBig">
                            <p>
                                Concepteur d'applications web de qualité<br>
                                À votre service
                            </p>
                        </div>
                        <div class="top-big-link wow fadeInUp">
                            <a class="btn btn-link-1" href="pdf/cv.pdf" target="_blank">Mon CV</a>
                            <a class="btn btn-link-2 scroll-link" href="#footer">Me contacter</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- Services -->
    <div class="services-container section-container" id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 services section-description wow fadeIn">
                    <h2>Mes services</h2>
                    <div class="divider-1 wow fadeInUp"><span></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 services-box wow fadeInUp">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="services-box-icon">
                                <i class="fa fa-cog"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h3>Le développement de votre application</h3>
                            <p>
                                Aujourd'hui, que ce soit pour mettre en avant un produit, une entreprise, un mouvement ou pour sa recherche d'emploi,
                                avoir un site web est devenu une nécessité.<br>
                                Je vous propose compétences et écoute afin de produire un produit de qualité, original et accessible au plus grand monde.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 services-box wow fadeInDown">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="services-box-icon">
                                <i class="fa fa-magic"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h3>Un accompagnement agile et personnalisé</h3>
                            <p>
                                Pour moi, chaque site web se doit d'être à l'image de son propriétaire : unique et transpirant de sa personnalité.<br>
                                En vous impliquant dans le suivi de la création de votre site, nous serons ensemble en mesure de vous apporter un
                                produit qui vous correspond.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 services-box wow fadeInUp">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="services-box-icon">
                                <i class="fa fa-thumbs-o-up"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h3>Un suivi régulier</h3>
                            <p>
                                Ici, la livraison du site n'est pas un au revoir, et vous ne serez pas seul en cas de soucis technique.<br>
                                Tout site web livré par mes soins comprend une assurance dépannage sous 48h.<br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio -->
    <div class="portfolio-container section-container" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 portfolio section-description wow fadeIn">
                    <h2>Mes projets</h2>
                    <div class="divider-1 wow fadeInUp"><span></span></div>
                    <p>J'ai complété plus de 50 projets professionnels et 20 projets personnels depuis mes débuts en
                        2016.
                        Quelques-uns sont disponibles publiquement. Jetez-y un oeil !</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-box wow fadeInUp">
                    <div class="portfolio-box-image">
                        <a href="https://coeurriviera.myvizito.fr" target="_blank">
                            <img src="assets/img/portfolio/myvizito.png" alt=""
                                 data-at2x="assets/img/portfolio/myvizito.png">
                        </a>
                    </div>
                    <h3><a href="https://coeurriviera.myvizito.fr" target="_blank">MyVizito</a> <i class="fa fa-angle-right"></i></h3>
                    <div class="portfolio-box-date"><i class="fa fa-calendar-o"></i> Août 2016-2020</div>
                    <p>L'assistant touristique développé pour Hi-From, et disponible
                        gratuitement en web, ainsi que sur Android et iOS, sur de nombreuses destinations. Grâce à
                        son puissant moteur
                        intelligent basé sur vos préférences, il vous aidera à trouver le meilleur moyen
                        d'accomplir une journée touristique et vous accompagnera lors de celle-ci à l'aide de sa carte intelligente et
                        de bien d'autres fonctionnalités !<br>
                        Développé en Symfony et propulsé sur mobile avec Cordova, ce projet évolue encore
                        aujourd'hui et a de beaux jours devant lui.
                    </p>
                </div>
                <div class="col-sm-4 portfolio-box wow fadeInUp">
                    <div class="portfolio-box-image">
                        <a href="https://www.youtube.com/watch?v=wh-N3Cj6lPc" target="_blank">
                            <img src="assets/img/portfolio/spaceorigin.jpg" alt=""
                                 data-at2x="assets/img/portfolio/spaceorigin.jpg">
                        </a>
                    </div>
                    <h3><a href="https://www.youtube.com/watch?v=wh-N3Cj6lPc" target="_blank">SpaceOrigin</a> <i
                                class="fa fa-angle-right"></i></h3>
                    <div class="portfolio-box-date"><i class="fa fa-calendar-o"></i> Mars 2016</div>
                    <p>Célèbre MMORPG Web développé par CastleProd. Arrivé tard dans l'équipe, j'ai participé au
                        développement du panel d'administration du jeu, notamment du module de sécurité, ainsi que de
                        la batterie d'outils qui aura été utilisée par l'équipe d'animation.</p>
                </div>
                <div class="col-sm-4 portfolio-box wow fadeInUp">
                    <div class="portfolio-box-image">
                        <a href="http://chaletsetcaviar.cachwir.com/" target="_blank">
                            <img src="assets/img/portfolio/chaletsetcaviar.png" alt=""
                                 data-at2x="assets/img/portfolio/chaletsetcaviar.png">
                        </a>
                    </div>
                    <h3><a href="http://chaletsetcaviar.cachwir.com/" target="_blank">Chalets et caviar</a> <i class="fa fa-angle-right"></i></h3>
                    <div class="portfolio-box-date"><i class="fa fa-calendar-o"></i> Mai 2017</div>
                    <p>Projet personnel sur Wordpress, développé pour une agence fictive
                        de vente et de location de chalets de luxe.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-box wow fadeInUp">
                    <div class="portfolio-box-image">
                        <a href="http://filmsenpleinair.cachwir.com/" target="_blank">
                            <img src="assets/img/portfolio/filmsenpleinair.png" alt=""
                                 data-at2x="assets/img/portfolio/filmsenpleinair.png">
                        </a>
                    </div>
                    <h3><a href="http://filmsenpleinair.cachwir.com/" target="_blank">Le festival des films de plein air</a> <i class="fa fa-angle-right"></i></h3>
                    <div class="portfolio-box-date"><i class="fa fa-calendar-o"></i> Mai 2017</div>
                    <p>Projet personnel de festival de films, composé d'un système basique de réservation en HTML,
                        CSS et PHP.</p>
                </div>
                <div class="col-sm-4 portfolio-box wow fadeInUp">
                    <div class="portfolio-box-image">
                        <a href="http://snowtricks.cachwir.com/" target="_blank">
                            <img src="assets/img/portfolio/snowtricks.png" alt=""
                                 data-at2x="assets/img/portfolio/snowtricks.png">
                        </a>
                    </div>
                    <h3><a href="http://snowtricks.cachwir.com/" target="_blank">SnowTricks</a> <i class="fa fa-angle-right"></i></h3>
                    <div class="portfolio-box-date"><i class="fa fa-calendar-o"></i> Juin 2017</div>
                    <p>Annuaire fictif, sportif et collaboratif de techniques de snowboard, développé sous Symfony.</p>
                </div>
                <div class="col-sm-4 portfolio-box wow fadeInUp">
                    <div class="portfolio-box-image">
                        <a href="http://bilemo.cachwir.com/" target="_blank">
                            <img src="assets/img/portfolio/bilemo.png" alt=""
                                 data-at2x="assets/img/portfolio/bilemo.png">
                        </a>
                    </div>
                    <h3><a href="http://bilemo.cachwir.com/" target="_blank">Bilemo</a> <i class="fa fa-angle-right"></i></h3>
                    <div class="portfolio-box-date"><i class="fa fa-calendar-o"></i> Juillet 2017</div>
                    <p>API REST sous Symfony, de vente de téléphones mobiles en B2B, commandée par une entreprise
                        fictive. Chaque client de cette entreprise peut consulter les produits Bilemo, ses
                        utilisateurs, en ajouter et en supprimer.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer-container" id="footer">
        <div class="container">
            <div class="row">

                <div class="col-sm-6 footer-left">
                    <h3>Me contacter</h3>
                    <div class="contact-form">
                        {{ ContactForm.open("", {id: "contact-form"}) }}
                            <div class="form-group">
                                <label class="" for="contact-name">Nom et prénom</label>
                                <input type="text" name="name" value="{{ ContactForm.get("name") }}" placeholder="Votre nom et prénom" class="contact-name form-control" id="contact-name">
                            </div>
                            <div class="form-group">
                                <label class="" for="contact-email">Email</label>
                                <input type="email" name="email" value="{{ ContactForm.get("email") }}" placeholder="Votre adresse email" class="contact-email form-control" id="contact-email">
                            </div>
                            <div class="form-group">
                                <label class="" for="contact-message">Message</label>
                                <textarea name="message" placeholder="Votre message" class="contact-message form-control" id="contact-message">{{ ContactForm.get("message") }}</textarea>
                            </div>
                            <button type="submit" class="btn">Envoyer</button>
                        {{ ContactForm.close() }}
                    </div>
                </div>

                <div class="col-sm-5 col-sm-offset-1 footer-right">
                    <h3>Retrouvez-moi sur les réseaux sociaux</h3>
                    <div class="footer-social">
                        <a href="https://github.com/Cachwir" target="_blank"><i class="fa fa-github"></i></a>
                        <a href="https://twitter.com/Cachwir" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/antoine-bernay-0a4138143/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <div class="footer-copyright">
                        &copy; Cachwir 2017 <br>
                    </div>
                </div>

            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 footer-bottom">
                    <a class="scroll-link" href="#top-content"><i class="fa fa-chevron-up"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <script>
        $(function() {
            var hasSubmittedContactForm = {{ ContactForm.hasMessages() ? "true" : "false" }};
            $(document).ready(function(e) {
                handle_pop_below($('#contact-form'));
                if (hasSubmittedContactForm) {
                    $('[href="#footer"]').click();
                }
            });
        })
    </script>
</div>