<div id="content">
    <!-- Top content -->
    <div class="top-content">

        <div class="inner-bg">
            <div class="container">

                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <div class="logo wow fadeInDown">
                            <a href="pdf/cv.pdf" target="_blank">
                                <img src="assets/img/picture-of-me.jpg" class="main-photo" alt="me">
                            </a>
                        </div>
                        <h1 class="wow fadeInLeftBig">Antoine Bernay</h1>
                        <div class="description wow fadeInLeftBig">
                            <p>
                                Concepteur d'applications web de qualité<br>
                                À votre service
                            </p>
                        </div>
                        <div class="top-big-link wow fadeInUp">
                            <a class="btn btn-link-1" href="pdf/cv.pdf" target="_blank">Mon CV</a>
                            <a class="btn btn-link-2 scroll-link" href="#footer">Me contacter</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- Services -->
    <div class="services-container section-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 services section-description wow fadeIn">
                    <h2>Mes services</h2>
                    <div class="divider-1 wow fadeInUp"><span></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 services-box wow fadeInUp">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="services-box-icon">
                                <i class="fa fa-cog"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h3>Le développement de votre application</h3>
                            <p>
                                Aujourd'hui, que ce soit pour mettre en avant un produit, une entreprise, un mouvement ou pour sa recherche d'emploi,
                                avoir un site web est devenu une nécessité.<br>
                                Je vous propose compétences et écoute afin de produire un produit de qualité, original et accessible au plus grand monde.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 services-box wow fadeInDown">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="services-box-icon">
                                <i class="fa fa-magic"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h3>Un accompagnement agile et personnalisé</h3>
                            <p>
                                Pour moi, chaque site web se doit d'être à l'image de son propriétaire : unique et transpirant de sa personnalité.<br>
                                En vous impliquant dans le suivi de la création de votre site, nous serons ensemble en mesure de vous apporter un
                                produit qui vous correspond.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 services-box wow fadeInUp">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="services-box-icon">
                                <i class="fa fa-thumbs-o-up"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h3>Un suivi régulier</h3>
                            <p>
                                Ici, la livraison du site n'est pas un au revoir, et vous ne serez pas seul en cas de soucis technique.<br>
                                Tout site web livré par mes soins comprend une assurance dépannage sous 48h.<br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer-container" id="footer">
        <div class="container">
            <div class="row">

                <div class="col-sm-6 footer-left">
                    <h3>Me contacter</h3>
                    <div class="contact-form">
                        {{ ContactForm.open("", {id: "contact-form"}) }}
                            <div class="form-group">
                                <label class="" for="contact-name">Nom et prénom</label>
                                <input type="text" name="name" value="{{ ContactForm.get("name") }}" placeholder="Votre nom et prénom" class="contact-name form-control" id="contact-name">
                            </div>
                            <div class="form-group">
                                <label class="" for="contact-email">Email</label>
                                <input type="email" name="email" value="{{ ContactForm.get("email") }}" placeholder="Votre adresse email" class="contact-email form-control" id="contact-email">
                            </div>
                            <div class="form-group">
                                <label class="" for="contact-message">Message</label>
                                <textarea name="message" placeholder="Votre message" class="contact-message form-control" id="contact-message">{{ ContactForm.get("message") }}</textarea>
                            </div>
                            <button type="submit" class="btn">Envoyer</button>
                        {{ ContactForm.close() }}
                    </div>
                </div>

                <div class="col-sm-5 col-sm-offset-1 footer-right">
                    <h3>Retrouvez-moi sur les réseaux sociaux</h3>
                    <div class="footer-social">
                        <a href="https://github.com/Cachwir" target="_blank"><i class="fa fa-github"></i></a>
                        <a href="https://twitter.com/Cachwir" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/antoine-bernay-0a4138143/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <div class="footer-copyright">
                        &copy; Cachwir 2017 <br>
                    </div>
                </div>

            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 footer-bottom">
                    <a class="scroll-link" href="#top-content"><i class="fa fa-chevron-up"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <script>
        $(function() {
            var hasSubmittedContactForm = {{ ContactForm.hasMessages() ? "true" : "false" }};
            $(document).ready(function(e) {
                handle_pop_below($('#contact-form'));
                if (hasSubmittedContactForm) {
                    $('[href="#footer"]').click();
                }
            });
        })
    </script>
</div>